
<!DOCTYPE html>
<html>

    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        
    </head>

    <body>
        {{form_start(myform)}}

        {{form_row(myform.name)}}
        {{form_row(myform.lastname)}}
        {{form_row(myform.info)}}
        <input type="submit" value="ارسال">
        {{form_end(myform)}}
    </body>

</html>
