<!DOCTYPE html>
<html>

    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/style2.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

        <!-- Insert to your webpage before the </head> -->
        <script src="{{asset('sliderengine/bootstrap.min.js')}}"></script>

        <!-- End of head section HTML codes -->
        <title>Home</title>
    </head>

    <body>
        <div id="header">
            <div id="wrap">
                <ul class="nav">
                    <li><a href="{{path('homepage')}}">خانه</a></li>
                    <li><a href="#">درباره مرکز</a>
                        <ul>
                            <li><a href="#">تیم مدیریت مرکز</a></li>
                            <li><a href="#">تاریخچه</a></li>
                            <li><a href="#">بیانیه ها</a></li>
                        </ul>
                    </li>
                    <li><a href="#">خدمات</a>
                        <ul>
                            <li><a href="#">دریافت نوبت درمانگاه</a></li>
                            <li><a href="#">مدارک لازم جهت بستری </a></li>

                        </ul>
                    </li>
                    <li><a href="#">بخشها</a>
                        <ul>
                            <li><a href="#">بخش های بستری</a></li>
                            <li><a href="#">درمانگاه های بستری</a></li>
                            <li><a href="#">پارکینگ ها</a></li>
                        </ul>
                    </li>
                    <li><a href="#">سایر واحدها</a>
                        <ul>
                            <li><a href="#">دفتر تحقیق و توسعه</a></li>
                            <li><a href="#">معاونت اموزشی</a></li>
                        </ul>
                    </li>
                    <li><a href="#">مطالب اموزشی</a>
                        <ul>
                            <li><a href="#">اموزش های بهداشتی  </a></li>
                        </ul>
                    </li>
                    <li><a href="#">تماس با ما</a>
                        <ul>
                            <li><a href="#">انتقادات و پیشنهادات</a></li>
                            <li><a href="#"> روابط عمومی</a></li>
                            <li><a href="#"> پست الکترونیک</a></li>
                            <li><a href="#">درج خبر</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
            <!--#header-->

        </div>
        <!--#header-->
        <div id="container">
            <div class="content">
                <h1>نوبت دهی انلاین</h1>
                <h2>مراجعه کننده محترم  قبل از ورود به سامانه نوبت دهی، موارد ذیل را به دقت مطالعه فرمایید:</h2>
                <p> ساعات کار کلینیک همه روزه بجز روزهای تعطیل در شیفت صبح از ساعت 7 الی 13 و در شیفت عصر از ساعت 14 الی 18 می باشد .</p>
                <p>  ضروری است نوبت دهی اینترنتی صرفاً با مشخصات و اطلاعات بیمار انجام شود و هنگام ثبت بیمه دقت شود که دفترچه بیمه متعلق به خود بیمار باشد .(( در صورت مغایرت مشخصات ثبت شده یا بیمه ثبت شده با بیمار هزینه پرداختی غیر قابل عودت خواهد بود )) </p>
                <p>در صورت نداشتن دفترجه بیمه ارائه کارت ملی بیمار به صندوق بیمارستان الزامی است .</p>
                <p>  در حال حاضر نوبت دهی اینترنتی جهت اتباع خارجی و نوزادانی که تازه متولد شده و فاق کد ملی هستند، امکانپذیر نمی باشد . (( جهت ثبت نوبت لازم است بصورت حضوری و روزانه ساعت 7 صبح به صندوق کلینیک مراجعه نمایند ))</p>
                <p>در نوبت دهی اینترنتی کل مبلغ ویزیت براساس نوع بیمه و آزاد دریافت می گردد . در صورت عدم حضور در موعد مقرر نوبت خود مبلغ واریزی با کسر جریمه(25% مبلغ ویزیت آزاد ) قابل عودت می باشد .(( مبلغ در حساب شما تا زمان مراجعه بعدی باقی می ماند )) </p>
                <p>  امکان کنسل کردن نوبت تا سه روز قبل از نوبت بدون کسر وجه وجود دارد . (( چنانچه زمان کمتر یا مساوی سه روز باشد یک چهارم مبلغ ویزیت آزاد به عنوان جریمه کسر و مابقی مبلغ قابل عودت می باشد))</p>
                <p>  در صورت کنسلی نوبت باید از قسمت پیگیری نوبت ، نوع دریافت خود را اعلام نموده و چنانچه مایل به برگشت وجه به حسابتان می باشید باید اطلاعات حساب خود را ( شماره حساب ، نام حساب و نام بانک ) را وارد نمائید .</p>
                <p>  امکان تعویض پزشک تا شب قبل از نوبت وجود دارد .((پرداخت هزینه مابه تفاوت تغییر تخصص پزشک (متخصص یا فوق تخصص) و در صورت کمتر بودن مبلغ هنگام حضور در کلینیک مبلغ به شما عودت می شود))</p>
                <p> ضروری است 24 ساعت قبل از مراجعه به بیمارستان نوبت خود را مجدداً چک نمایید و از ثبت نوبت خود اطمینان حاصل نمائید .</p>
                <p> در صورت کنسل شدن نوبت از سوی کلینیک به شماره موبایل ثبت شده در پذیرش پیام ارسال می شود (( شما می توانید در خصوص دریافت حضوری مبلغ(مراجعه به صندوق کلینیک) و یا واریز به حسابتان (مراجعه به قسمت پیگیری نوبت سایت بیمارستان ) تصمیم گیری نمائید . ))</p>
                <p>هنگام مراجعه به بیمارستان مستقیماً به صندوق کلینیک مراجعه نموده و کارت معاینه خودرا دریافت نمائید. </p>
                <p>وقت دهی فقط مربوط به ویزیت می باشد و شامل نوبت آزمایشات ، سونوگرافی و سایر اقدامات پاراکلینیکی نمی باشد </p>
                <P> برای انجام عملیات نوبت دهی از مرورگرهای <span>Chrome</span> یا <span>Firefox</span> استفاده نمایید. (دانلود مرورگر کروم ) (دانلود مرورگر فایرفاکس)
                </p>
                <p class="glyphicon glyphicon-asterisk" aria-hidden="true">برنامه کلینیک های بیمارستان رضوی</p>
                <p class="glyphicon glyphicon-asterisk" aria-hidden="true"> لیست پزشکانی که در کلینیک ها ،پذیرش بصورت تلفنی انجام می شود    </p><br>
                <div><a href="{{ path('app_admin') }}">سامانه نوبت دهی</a></div>
            </div>
        </div>
        <!--#Container-->
    </body>

</html>
