
<!DOCTYPE html>
<html>

    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/custem.css') }}" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <div id="container">
            <div id="wrap">
                <div class="item first">
                    <a href="">  <div><h2>ثبت اطلاعات بیمار</h2></div>
                        <img src="{{asset('images/GetPatientId.png')}}" alt="www.m30net.com" />
                    </a>
                </div>
                <div class="item second">

                </div>
                <div class="item third">

                </div>

            </div>
            <div id="u-wrap">
                <div class="item first">

                </div>
                <div class="item second">
                    <a href="">   <div><h2>ویرایش اطلاعات بیمار</h2></div>
                        <img src="{{asset('images/Personal.png')}}" alt="www.m30net.com" />
                    </a>
                </div>

                <div class="item third">
                    <a href="{{ path('app_cure') }}">  <div><h2>ثبت اطلاعات بیمار</h2></div>
                        <img src="{{asset('images/Personal.png')}}" alt="www.m30net.com" />
                    </a>
                </div>
            </div>
            <div id="s-wrap">
                <div class="item first">
                    <a href="{{path('app_queue')}}">  <div><h2>نوبت دهی</h2></div>
                        <img src="{{asset('images/doctor-4-128.png')}}" alt="www.m30net.com" />
                    </a>
                </div>
                <div class="clear">

                </div>

                <div class="item second">
                    <a href="">  <div><h2> پیگیری نوبت دهی</h2></div>
                        <img src="{{asset('images/Calendar.png')}}" alt="www.m30net.com" />
                    </a>
                </div>

            </div>
        </div>

    </body>

</html>

